.App {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.App header, .App main {
  padding: 1rem;
}

.App header {
  background-color: peachpuff;
  max-width: 20%;
  flex-shrink: 1;
}
.App header hgroup {
  height: calc(100vh - 2rem);
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.App header img {
  height: 33vh;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: scale-down;
}
.App header h1 {
  margin-bottom: 0;
}
.App header h2 {
  margin: 0;
}
.App header h3 {
  font-weight: normal;
}

.App main {
  background-color: linen;
  flex-grow: 1;
}
.App main section {
  max-width: 60ch;
  margin-bottom: 2rem;
}
.App main section h1 {
  text-indent: 2ch;
  margin: 0;
}
.App main section ul {
  padding-left: 1rem;
}